@model Forum.ViewModels.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "_Layout";
}
@Html.ValidationMessage("Mes")
<h5 style="text-align:center;">Registration</h5>
<form method="post" asp-controller="Account" asp-action="Register" style="text-align:center;" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label for="files" class="btn">Upload your profile picture</label><br />
        <input type="file" name="files" required />
    </div>
    <div>
        <label asp-for="UserName"></label><br />
        <input asp-for="UserName" />
        <span asp-validation-for="UserName"></span>
    </div>
    <div>
        <label asp-for="Email"></label><br />
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Password"></label><br />
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="PasswordConfirm"></label><br />
        <input asp-for="PasswordConfirm" />
        <span asp-validation-for="PasswordConfirm"></span>
    </div>
    <div>
        <br /><input type="submit" value="Register" /><br /><br /><br />
    </div>
</form>